/*
classes Header
logo
nav
*/



/*  header properties*/

  header{
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-width: 1px;
  border-style: solid;
  border-color:black;
  width:100%;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  overflow: visible;
  }

  .logo{
    color: MediumAquamarine;
    align-items: center;
    display: inline-flex;
    justify-content: space-around;
    min-width: 50px:
    }

  .nav{
    display: inline-block;
    overflow: visible;
    }

  .nav a {
    color: black;
    padding:5px;
    font-size: 14px;
    align-items: center;
    }

    /*
    div classes/ids main content
    main
      column/large  id 1
        article
          photo
        sub-column/column/medium
          article
          photo
      column/medium  id 2
          article
            photo
      column/small id 3
        bite
    */


  /*  main container properties*/
  .main {
    display: flex;
    flex-direction: column;
    overflow: scroll;

    }

  /* All column properties */

  .column{
    display: flex;
    flex-direction: column;
  }
  /* column large */

  .large{
    width: 630px;
  }

  /* column medium */

  .medium{
    width: 300px;
    }

  /* column small */
  .small{
    width: 240px;
  }

  /* column 1 */
  /* column 2 */
  /* column 3 */




    }
