/*
classes Header
logo
nav
*/
  body{
    margin: 0px;
    display: block;
  }


/*  header properties*/

  header{
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-width: 1px;
  border-style: solid;
  border-color:black;
  width:100%;
  height: 80px;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  overflow: visible;
  z-index: 1
  }

  .logo{
    color: MediumAquamarine;
    align-items: center;
    display: inline-flex;
    justify-content: space-around;
    height:60px;
    width:200px;
    }

  .nav{
    display: inline-block;
    overflow: visible;

    }

  .nav span {
    padding:20px 10px;
    font-size: 14px;
    }
  .nav a{
    color: black;
  }

    /*
    div classes/ids main content
    main
      column large  id 1
        article
          photo
        sub-column/column/medium
          article
          photo
      column medium  id 2
          article
            photo
      column small id 3
        bite

        photo ids are story_main. story1, story2, and story3.
    */


  /*  main container and general properties*/
  .main {
    display: flex;
    width: 1232px;
    margin:0 auto 78px auto;
    padding-top: 116px;


    border-width: 1px;
    border-style: solid;
    border-color: blue;
    }

  .sub_stories{
    border-style: solid;
    border-color:red;
    border-width: thick;
    justify-content: space-between;
    margin-top: 17px;
    width:630px;
     }

   .sub_stories p{
     height: 250px;
     }

    .sub_stories .articles{
      display: block;
      width: 300px;
    }

  .article{
    display: flex;
    flex-direction: column;
    flex
    width:inderit;
    border-style: solid;
    border-width: 1px;
    }

    .article p{
    font-family: Georgia;
    font-size: 17px;
    color: black;
    }


  /*photos*/
    .photo{
    /* display: flex;
      flex-direction: column;
      justify-content: center; */
      font-family: Georgia;
      font-weight: bold;
      font-size: 30px;
      color: white;
      border: 1px;
      border-style: solid;
      height: 300px;
      width:inherit;
      margin-top: 15px;
      color: white;
      text-align: center;
      background-size: cover;


    }
  #story_main{
    background-image:url(../images/img-story-main.png);
    width: 630px;
    font-size: 40px;
    text-align:left;
    margin-top: 0px;

  }
  #story1{
    background-image:url(../images/img-story-1.png);
  }
  #story2{
    background-image:url(../images/img-story-2.png);
  }
  #story3{
    background-image:url(../images/img-story-3.png);
  }

  img.cookie{
    height:240px;
    width: 240px;
  }

  /* All column properties */

  .column{
    display:flex;
    flex-direction: column;
    margin-right: 32px;
    }

  /* column */

  .column.large{
    width: 630px;
  }

  .column.medium{
    width: 300px;
    }

  .column.small{
     width: 240px;
     }

  /* sub_column */
